<h1>Create an Article</h1>

<% if @article.errors.any? %>
    <h2>The following errors prevent the article from getting created</h2>
    <ui>
        <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>    
    </ui>
<% end %>

<%= form_for @article do |f| %>
    <p>
        <%= f.label :title %> <br />
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :description %> <br />
        <%= f.text_field :description %>
    </p>
    <p>
        <%= f.submit 'Create' %> <br />
    </p>
<% end %>